export(findPeaks)
export(findPeaks1)
importFrom(flowCore,read.FCS)
importFrom(MASS,kde2d)
importFrom(reshape2,melt) 
importFrom(raster,raster)
importFrom(raster,ncell)
importFrom(raster,rasterize)
importFrom(raster,extract)
importFrom(raster,extent)
importFrom(raster,xyFromCell)
importFrom(fields,rdist)
import(sp) 
import(ggplot2)
